<nav aria-label="Page navigation example container">
    <ul class="pagination pg-blue justify-content-center">
      <li class="page-item ">
         <a class="nav-link" routerLink="./newInv" ><button mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect>Add an Inventory</button></a> 
      </li>
      <li class="page-item"><a class="nav-link" routerLink="./newTran" ><button mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect>Record Transaction</button></a> </li>
      <li class="page-item"><a class="nav-link" routerLink="./newTran" ><button mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect>Update Transaction</button></a> </li>
      <li class="page-item"><a class="nav-link" routerLink="./reports" ><button mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect>View Reports</button></a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>



