<div class="jumbotron">
    <div class="container">
      <h4 class="text-left"> Contact Us</h4>
      <br>
      <div >
        <div class = "row container-fluid">
          <h6 class=" col-sm-3 text-left">Address:-  </h6>
          <div class=" col-sm-3">
            <label class=" text-left">H2/17 R.M. Colony, </label>
            <label class=" text-left">Dindigul, TN - 624001 </label>
          </div>
        </div>
        <div class = "row container-fluid">
          <h6 class="col-sm-3 text-left">Phone Number :- </h6>
          <label class=" col-sm-3 text-left">+91- 9894029262</label>
        </div>
      
      <div class = "row container-fluid">
        <h6 class=" col-sm-3 text-left">Email Address :- </h6>
        <label class="  col-sm-3 text-left">kannaiahmkdgl@yahoo.com</label>
      </div>
      
    </div>
  </div>
